block link
  link(rel='stylesheet', href='/bower_components/UI/docs/assets/css/teambition-ui.css')
  link(rel='stylesheet', href='/apps/web/main.css')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/touch-icon-ipad.png')
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/images/touch-icon-ipad-retina.png')
  link(rel='shortcut icon', href='/images/favicon.ico')

block script
  script(data-main="/apps/#{appName}/main.js", src="/bower_components/requirejs/require.js")
