doctype 5
html
  head
    title= appName
    meta(charset='utf-8')
    meta(name="robots", content="NOINDEX,NOFOLLOW")
    meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="HandheldFriendly", content="true")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-capable", content="yes")
    block link

  body
    block script